a.menu-1316, ul.links li.menu-1316 a {
  background-image: url(http://defiance.kaufmaninternational.com/Publisher7/docroot/sites/defiance/files/styles/menu_icon/public/menu_icons/menu_icon_1316.png);
  padding-left:45px;
  background-repeat: no-repeat;
  background-position: left;
  height: 45px;
}

a.menu-1317, ul.links li.menu-1317 a {
  background-image: url(http://defiance.kaufmaninternational.com/Publisher7/docroot/sites/defiance/files/styles/menu_icon/public/menu_icons/menu_icon_1317.png);
  padding-left:45px;
  background-repeat: no-repeat;
  background-position: left;
  height: 45px;
}

a.menu-1318, ul.links li.menu-1318 a {
  background-image: url(http://defiance.kaufmaninternational.com/Publisher7/docroot/sites/defiance/files/styles/menu_icon/public/menu_icons/menu_icon_1318.png);
  padding-left:45px;
  background-repeat: no-repeat;
  background-position: left;
  height: 45px;
}

a.menu-1320, ul.links li.menu-1320 a {
  background-image: url(http://defiance.kaufmaninternational.com/Publisher7/docroot/sites/defiance/files/styles/social_icons_large/public/menu_icons/menu_icon_1320.png);
  padding-left:65px;
  background-repeat: no-repeat;
  background-position: left;
  height: 65px;
}

a.menu-1321, ul.links li.menu-1321 a {
  background-image: url(http://defiance.kaufmaninternational.com/Publisher7/docroot/sites/defiance/files/styles/social_icons_large/public/menu_icons/menu_icon_1321.png);
  padding-left:65px;
  background-repeat: no-repeat;
  background-position: left;
  height: 65px;
}

a.menu-1322, ul.links li.menu-1322 a {
  background-image: url(http://defiance.kaufmaninternational.com/Publisher7/docroot/sites/defiance/files/styles/social_icons_large/public/menu_icons/menu_icon_1322.png);
  padding-left:65px;
  background-repeat: no-repeat;
  background-position: left;
  height: 65px;
}

